.display {
    background: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   padding: 0 1.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .display:hover {
    background: var(--hoverColor);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.7);
  }
  
  .display:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
  }
  
  .display:focus {
    outline: none;
  }
  